<h1><%= @article.title %></h1>
<p><%= @article.body %></p>
<%= link_to "Back to Articles", articles_path %>
<br>
<%= link_to "this one isn't that good. delete it.", article_path(@article), method: :delete %>
